<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hellogpt"
    android:versionCode="1"
    android:versionName="1.11" >
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-sdk 
           android:minSdkVersion="26" 
           android:targetSdkVersion="30" />
  <application 

	         android:icon="@drawable/determined_fish"
           android:label="GPT-3" 
           android:debuggable="true" 
           android:allowBackup="true"
           android.minifyEnabled="false" >
    <activity
    android:theme="@android:style/Theme.NoTitleBar" android:name="com.hellogpt.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
